apiVersion: v1
kind: Service
metadata:
  name: {{ include "consumer.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "consumer.name" . }}
    helm.sh/chart: {{ include "consumer.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- if .Values.extraLabels }}
{{ toYaml .Values.extraLabels | indent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "consumer.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
