name: Gazette Continuous Integration

on:
  push:
    branches: [arize, arize-dev/*]
  pull_request:
    branches: [arize]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Full history.

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to GitHub container registry
        run: |
          echo "${{ secrets.REGISTRY }}" | \
            docker login --username ${{ github.actor }} --password-stdin ghcr.io

      - uses: actions/setup-go@v4
      - run: sudo apt install -y protobuf-compiler librocksdb-dev libsqlite3-dev etcd-server
      - run: echo "VERSION=$(git describe --dirty --tags)" >> "$GITHUB_ENV"

      - run: make go-test-ci
      - run: make go-build # go-build-arm64

      - uses: docker/build-push-action@v5
        with:
          context: .build
          file: Dockerfile
          target: broker
          platforms: linux/amd64 # ,linux/arm64
          tags: "ghcr.io/gazette/broker:${{ env.VERSION }}"
          push: true

      #- uses: docker/build-push-action@v5
      #  with:
      #    context: .build
      #    file: Dockerfile
      #    target: examples
      #    platforms: linux/amd64
      #    tags: "ghcr.io/gazette/examples:${{ env.VERSION }}"
      #    push: true
